<%= cloudinary_js_config %>

<%= bootstrap_form_for(@food_review, html: {multipart: true}) do |f| %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Compose review...", rows: "4" %>
	</div>
	<span class="picture">
		<%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
		<%= f.hidden_field :image_cache %>
	</span>
	<%= f.submit "Post", class: "btn btn-success" %>
<% end %>

<script type="text/javascript">
	$('#food_review_image').bind('change', function() {
		var size_in_megabytes = this.files[0].size/1024/1024;
		if (size_in_megabytes > 5) {
			alert('Maximum file size is 5MB. Please choose a smaller file.');
		}
	});
</script>
