<%= provide(:title, 'Users') %>
<h1>Users</h1>

<% if Rails.env.development? %>
	<%= form_tag users_path, method: 'get', class: "form-inline" do %>
		<div class="form-group form-custom">
			<%= text_field_tag :query, params[:query], id: "user_search" %>
		</div>

		<%= button_tag(type: "submit", class: "btn btn-primary") do %>
			<span class="glyphicon glyphicon-search"></span>
		<% end %>
	<% end %>	
<% end %>

<div class="users">
	<%= render @users %>
</div>
