<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= image_tag(@user.profile_image.url(:standard), class: "gravatar") %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="col-md-8">
		<% if @user.food_reviews.any? %>
			<h3>Food Reviews (<%= @user.food_reviews.count %>)</h3>
			<ol class="microposts">
				<%= render @food_reviews %>
			</ol>
			<%= will_paginate @food_reviews %>
		<% end %>
	</div>
</div>
