<li id="micropost-<%= food_review.id %>">
	<%= link_to image_tag(food_review.user.profile_image.url(:thumbnail), class: "gravatar", 
												width: 60, height: 60), food_review.user %>
	<span class="user"><%= link_to food_review.user.name, food_review.user %></span>
	<span class="content">
		<%= food_review.content %>
		<%= image_tag(food_review.image.url(:standard)) if food_review.image? %>
	</span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(food_review.created_at) %> ago.
		<% if current_user?(food_review.user) %>
			| <%= link_to "delete", food_review, method: :delete, data: {confirm: "You sure?"} %>
		<% end %>
	</span>
</li>
