<% provide(:title, 'Review') %>
<h1>Review</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= bootstrap_form_for(@restaurant) do |f| %>
			<%= f.text_field :name %>
			<%= f.email_field :address %>
			<%= fields_for(@food_review) do |u| %>
				<div class="field">
					<%= u.label :Review %>
					<%= u.text_area :content, placeholder: "Compose review...", rows: "4",
													class: "form-control" %>
				</div>
				<span class="picture">
					<%= u.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
				</span>
			<% end %>
			<%= f.submit "Submit", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$('#food_review_image').bind('change', function() {
		var size_in_megabytes = this.files[0].size/1024/1024;
		if (size_in_megabytes > 5) {
			alert('Maximum file size is 5MB. Please choose a smaller file.');
		}
	});
</script>
