<li>
	<%= link_to restaurant.name, restaurant, id: "name" %>
	<section>
		<% if current_user.admin? %>
			<%= link_to "delete", restaurant, method: :delete, data: {confirm: "You sure?"} %>
		<% end %>
	</section>
</li>
