<% provide(:title, "Edit user") %>
<h1>Update profile</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= bootstrap_form_for(@user) do |f| %>
			<%= render 'fields', f: f %>
			<%= f.submit "Save Changes", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
