<%= provide(:title, 'Restaurants') %>
<h1>Restaurants</h1>

<% if Rails.env.development? %>
	<%= form_tag restaurants_path, method: 'get', class: "form-inline" do %>
		<div class="form-group form-custom">
			<%= text_field_tag :query, params[:query], id: "restaurant_search" %>
		</div>

		<%= button_tag(type: "submit", class: "btn btn-primary") do %>
			<span class="glyphicon glyphicon-search"></span>
		<% end %>
		<div class="form-group">
			<%= link_to "Review a restaurant", new_food_review_path, method: :get, 
									class: "btn btn-primary btn-sm", style: "margin-left: 10px; font-size: 18px" %>
		</div>
	<% end %>	
<% end %>

<div class="users">
	<%= render @restaurants %>
</div>
