<% provide(:title, 'New Restaurant') %>
<h1>New Restaurant</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= bootstrap_form_for(@restaurant) do |f| %>
			<%= f.text_field :name %>
			<%= f.email_field :address %>
			<%= fields_for(@restaurant.food_reviews.build) do |u| %>
				<div class="field">
					<%= u.label :Review %>
					<%= u.text_area :content, placeholder: "Compose review...", rows: "4",
													class: "form-control" %>
				</div>
				<span class="picture">
					<%= u.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
					<%= u.hidden_field :image_cache %>
				</span>
			<% end %>
			<%= f.submit "New Restaurant", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
