<% provide(:title, @restaurant.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<div>
					<%= @restaurant.name %>
				</div>
				<div>
					<%= @restaurant.address %>
				</div>
				<div>
					<%= link_to "Ptt Review", @restaurant.url %>
				</div>
			</h1>
		</section>
	</aside>
	<div class="col-md-8">
		<% if @restaurant.food_reviews.any? %>
			<h3>Food Reviews (<%= @restaurant.food_reviews.count %>)</h3>
			<ol class="microposts">
				<%= render @food_reviews %>
			</ol>
			<%= will_paginate @food_reviews %>
		<% end %>
	</div>
</div>
