<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<div class="panel">
	<input id="address" type="textbox" value="台灣大學" onkeypress="keyEnter(event)">
	<input id="submit" class="btn_submit" type="button" value="Search">
</div>
<div class="panel2">
	<button id="btn_control" class="btn_submit" type="button" onclick="controlMarker()">Hide Markers</button>
</div>
<div id="multi_markers", class="map stats"></div>

<script type="text/javascript">

var handler = Gmaps.build('Google');
var searched = false;
var hidden = false;
var markers = [];
var circles = [];
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
	markers = handler.addMarkers(<%=raw @hash.to_json %>);
	var markers_restaurant = handler.addMarkers(<%=raw @hash_restaurant.to_json %>);
	handler.bounds.extendWith(markers);
	handler.bounds.extendWith(markers_restaurant);

	<% if logged_in? %>
	//

	<% @circles.each do |circle| %>
		circles = handler.addCircles([{lat: <%= circle.lat %>, lng: <%= circle.lng %>, radius: <%= circle.rad %>}], {strokeColor: "#FF0000"});
		google.maps.event.addListener(circles[circles.length-1].getServiceObject(), "click", function(evt) {
			window.open("http://192.168.26.23:3000/" + <%= circle.id.to_s %>);
		});
	<% end %>
	//

	google.maps.event.addListener(handler.getMap(), "click", function(event) {
		var tmp = "Latitude: "+ event.latLng.lat() + " "+", longitude: " + event.latLng.lng();
		circles = handler.addCircles([{lat: event.latLng.lat(), lng: event.latLng.lng(), radius: 500}], {strokeColor: "#FF0000", draggable: true, editable: true});
		google.maps.event.addListener(circles[circles.length-1].getServiceObject(), "click", function(evt) {
			var totalChanges = {lat: event.latLng.lat(), lng: event.latLng.lng(), rad: circles[circles.length-1].getServiceObject().getRadius()};
			$.ajax({
				type: "post",
				url: "/saveCircle",
				data: { total_changes: totalChanges },
				success: function() { 
					//alert("Success!");
					/*if ("WebSocket" in window) alert("WebSocket is supported by your Browser!");
					var socket = new WebSocket('ws://192.168.24.165:12224');
					socket.onopen = function(e) {
						console.log("Connection established!");
						socket.send('Hello Me!');
					};
					socket.send("Hello bro");
					alert("Hi");*/
				}
			});
			window.open(<%= raw @chat_room_url %>);
			console.log(<%= raw @chat_room_url %>);
		});
		handler.bounds.extendWith(circles);
	});

	<% end %>


	var geocoder = new google.maps.Geocoder();
	document.getElementById('submit').addEventListener('click', function() {
		geocodeAddress(geocoder,handler.getMap());
	});
	handler.fitMapToBounds();
	handler.getMap().setZoom(16);

	if(navigator.geolocation)
		navigator.geolocation.getCurrentPosition(displayOnMap);
});
function displayOnMap(position){
	handler.map.centerOn({
		lat: position.coords.latitude,
		lng: position.coords.longitude
	});
};
function controlMarker(){
	var len = markers.length;
	var elem = document.getElementById('btn_control');
	if( searched ) len = len - 1;
	if(hidden){
		elem.textContent = "Hide Markers";
		elem.className = "btn_submit";
		for(var i=0; i < len; i++)
			markers[i].setMap(handler.getMap());
		hidden = false;
	}
	else{
		elem.textContent = "Show Markers";
		elem.className = "btn_submit_active";
		for(var i=0; i < len; i++)
			markers[i].setMap(null);
		hidden = true;
	}
}
function geocodeAddress(geocoder, resultsMap) {
	var address = document.getElementById('address').value;
	geocoder.geocode({'address': address}, function(results, status) {
		if (status === google.maps.GeocoderStatus.OK) {
			resultsMap.setCenter(results[0].geometry.location);
			var marker = new google.maps.Marker({
				map: resultsMap,
				position: results[0].geometry.location
			});
			if( searched == false) searched = true;
			else{
				markers[markers.length-1].setMap(null);
				delete markers[markers.length-1];
			}
			markers.push(marker);
		} else {
			alert('Geocode was not successful for the following reason: ' + status);
		}
	});
};
/* press Enter to submit*/
function keyEnter(e){
	//var code = (e.keyCode ? e.keyCode : e.which);
	if(e.keyCode == 13) {
		var geocoder = new google.maps.Geocoder();
		geocodeAddress(geocoder,handler.getMap());
	}
}
</script>
