<header class="navbar navbar-fixed-top navbar-default nav-custom">
	<div class="container">
		<%= link_to "Bike & Bite", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path, id: "menu", data: { no_turbolink: true } %></li>
				<li><%= link_to "Restaurants", restaurants_path, id: "menu" %></li>
				<% if logged_in? %>
					<li><%= link_to "Users", users_path, id: "menu" %></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown", id="menu">
							Account <b class="caret"></b>
						</a>
						<ul class="dropdown-menu", id="menu">
							<li><%= link_to "Profile", current_user %></li>
							<li><%= link_to "Settings", edit_user_path(current_user) %></li>
							<li class="divider"></li>
							<li>
								<%= link_to "Log out", logout_path, method: "delete", id: "menu" %>
							</li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to "Sign up", signup_path, id: "menu" %></li>
					<li><%= link_to "Log in", login_path, id: "menu" %>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
